---
default: default
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- render 'head.html' -%}

  <body>

    {%- render 'header' -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% block default %}
        {% endblock %}
      </div>
    </main>

    {%- render 'footer.html' -%}

  </body>

</html>